.left-img {
  background-image: url("../../assets/hero/wiping.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100%;
}

.left-img div {
  height: 100%;
}

.right-img div {
  height: 100%;
}

.right-img {
  background-image: url("../../assets/hero/keyboard.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100%;
}

.img-wrapper {
  height: 80vh;
  display: flex;
  flex-direction: row;
}
